.button-warning {
    color: @warning_color;
}

/* Library page */
flowbox flowboxchild {
    padding: 6px; /* default is 4px */
}

.library-manga-name-label {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    padding: 20px 8px 4px 8px;
}

/* Manga card page */
.card-info-details-box {
    background-color: @theme_base_color;
    border: 1px solid alpha(@borders, 0.7);
    border-radius: 8px;
    -gtk-outline-radius: 7px;
}
.card-info-details-box > box {
    padding: 3px 12px;
    min-height: 50px;
}
.card-info-details-box > box:not(:first-child) {
    border-color: alpha(@borders, 0.7);
    border-style: solid;
    border-width: 1px 0px 0px 0px;
}

.card-info-synopsis-label {
    background-color: @theme_base_color;
    border: 1px solid alpha(@borders, 0.7);
    border-radius: 8px;
    -gtk-outline-radius: 7px;
    padding: 12px;
}

.card-chapter-listboxrow {
    padding: 6px 6px 12px 6px;
}
.card-chapter-label {
    font-size: 14px;
}
.card-chapter-label-started {
    color: @warning_color;
}
.card-chapter-sublabel {
    font-size: 10px;
}

.badge {
    color: #fff;
    background-color: #3399ff;
    padding: 0 .4em;
    border-radius: .25rem;
}

/* Reader page */
.reader-controls-bottom-box {
    background: rgba(0, 0, 0, .75);
    color: #fff;
}

.reader-page-number-indicator-label {
    color: #fff;
    letter-spacing: 1px;
    /* bordered text */
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    margin-bottom: 8px;
}

/* Explorer/Download manager pages */
.rounded-listbox {
    background-color: @theme_base_color;
    border: 1px solid alpha(@borders, 0.7);
    border-radius: 8px;
    -gtk-outline-radius: 7px;
}
.rounded-listbox > row.header {
    font-weight: bold;
    background-color: @insensitive_bg_color;
    min-height: 31px;
}
.rounded-listbox > row {
    border-style: solid;
    border-color: alpha(@borders, 0.7);
    padding: 3px 12px;
    min-height: 50px;
}
.rounded-listbox > row:first-child {
    border-width: 0px;
    border-top-left-radius: 8px;
    -gtk-outline-top-left-radius: 7px;
    border-top-right-radius: 8px;
    -gtk-outline-top-right-radius: 7px;
}
.rounded-listbox > row:last-child {
    border-bottom-left-radius: 8px;
    -gtk-outline-bottom-left-radius: 7px;
    border-bottom-right-radius: 8px;
    -gtk-outline-bottom-right-radius: 7px;
}
.rounded-listbox > row:not(:first-child) {
    border-width: 1px 0px 0px 0px;
}

/* Download manager page */
.download-manager-download-listboxrow {
    border-bottom: 1px solid @borders;
    padding: 6px 6px 12px 6px;
}
.download-manager-download-label {
    font-size: 14px;
}
.download-manager-download-sublabel {
    font-size: 10px;
}
